<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Форма для поиска</title>
</head>
<body>
    <h1>
        Форма для поиска вакансии
    </h1>
        <form action="results.html">
            <input name="query string" value="" placeholder="строка поиска">
            <br>
            <p><select name="where">
                    <option value="All"> везде</option>
                    <option value="company"> в названии компании</option>
                    <option value="vacance"> в названии вакансии</option>


                </select><p>
            </p><input type="submit" value="искать вакансии">

        </form>
    <br>
    <a href="index.html">на главную</a>

</body>
</html>